<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>SpringBoot</title>
</head>
<body>
<h1>用户登录</h1>
<form name="form1" action="/valid/add" method="post">
    <p>姓名：<input type="text" name="name" /></p>
    <p>年龄：<input type="text" name="age" /></p>
    <p>邮箱：<input type="text" name="email" /></p>
    <p>手机：<input type="text" name="mobile" /></p>
    <p>工作时间：<input type="text" name="workTime" /></p>
    <p><button>提交</button></p>
</form>
</body>
</html>